.header-bar {
    background-color: #292929;
}

.input-dark {
    background-color: #6e6a6a;
    border: transparent;
    color: #ffffff;
}

.input-dark:focus {
    color: #ffffff;
    background-color: #555;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.container--narrow {
    max-width: 732px;
}

.avatar-tiny {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    margin-right: 4px;
    position: relative;
    top: -1;
}